.event {
    width: 30%;
    margin-right: 3%;
    padding: 20px;
    border-radius: 5px;
    background-color: #ECF6FF;
    border-radius: 15px;
    box-shadow: 0.9px 1.8px 8px 0 rgba(0, 0, 0, 0.19);
}

.event--true {
    opacity: 0.5;
}

.event__time {
    font-size: 14px;
    font-weight: 500;
    color: #198CFF;
}

.event__label {
    padding: 0 10px;
    font-size: 14px;
    color: #333;
    font-weight: 100;
    border-radius: 10px;
    background: #198CFF;
    color: #fff;
}

.event__label--light {
    background: #ECF6FF;
    color: #198CFF;
    font-weight: bold;
    padding: 3px 10px;
}

.event__name {
    text-align: left;

    h2 {
        font-size: 18px;
        color: #198CFF;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}